
<footer class="footer bg-dark text-light py-3 fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2023 Airbnb_F. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-md-right">
        <p>Contact us: info@airbnb.fashion
        </p>
      </div>
    </div>
  </div>
</footer>
