.navbar {
  background-color: #f0f7f4;
  color: #f0f7f4;

  // Add more styles as needed
}

// colors:
// #f0f7f4 quase branco
// #70abaf  azul cinza
// #705d56 marrom
// #99e1d9 azul claro
// #32292f café

.linha-2{
  background-color: #99e1d9;
  color: #705d56

}

.col {
  text-align: center;
  align-items: center;
//   display: flex;
//   justify-content: center;
//   align-items: center;
}
