<h1 class="container">Fashion AirBnB</h1>

<div class="container">
  <ul class="list-group">
    <% @accessories.each do |accessory|%>
      <div class="list-group-item">
        <li>
          <%= "#{accessory.name}: #{accessory.description}" %>
          <%= link_to 'Checkout', confirm_accessory_path(accessory), class: 'btn btn-primary' %>
        </li>
      </div>
    <% end %>
  </ul>
</div>
