<h1 class="container">Fashion AirBnB</h1>



<div class="container">
  <div class="row">
    <% @accessories.each do |accessory|%>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= accessory.name %></h4>
            <p class="card-text"><%=accessory.description%></p>
            <%= link_to "Details", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
